<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>

  <div class="row">
  <div class="card-body">
    <h5 class="card-title">Your current items on sale</h5>
    <p class="card-text">
      <% @items.each do |item| %>
        <li><%= item.fiesta_item.name %></li>
      <% end %>
    </p>
    <%= link_to "Create Item", new_manage_item_path, class: "btn btn-primary" %>
  </div>
  
</div>